html{
    scroll-behavior: smooth;
}

body{ 
   background-color: #145369;
}

.container{

      width: 80%;
      margin: auto;
}


h1{
    text-align: center;
    color: #ffffff;
}


h2{
   text-align: center;
   color: #ffffff;
}


img{
    width: 50%;
}


figure{
    text-align: center;
}


.img_topo{
      width: 100%;
}

p{
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
    text-indent: 40px;
    text-align: justify;
}

footer{
    background-color: black;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: grey
    text-decoration: none;
}
    

a:hover{
    color: lightblue
 
}

a:active{
    color: black
}

